[2016-09-30 21:01] sr320 opened #1 "Organize oyster samples in -80"
We finally have a data sheet
https://github.com/RobertsLab/project-oyster-oa/tree/master/data

so now vials can be nicely organized in freezer boxes, so we can determine which samples to start processing.

Probably would be helpful to develop a simple map to indicate where sites are.

[2016-09-30 22:30] yaaminiv commented on #1
I have a basic idea of how I would like to organize the vials. I can meet Monday to discuss and get started.

![Really rough idea of vial organization](https://cloud.githubusercontent.com/assets/22335838/19008811/c1810b16-8722-11e6-825f-398aa82dd38c.jpg)

[2016-10-11 17:23] yaaminiv commented on #1
I was mistaken and I believe we are missing samples from Round 1 of the experiment (vials O1-O149). I organized all of the samples from Round 2 already and they are in the -80. I will search more thoroughly through the -80 later today, but I already went through a good chunk of it and all of the boxes that aren't labelled don't have our samples.

[2016-10-26 00:11] yaaminiv commented on #1
All samples have officially been located and organized into 4 separate boxes, as detailed in the above schematic!

[2016-11-07 06:55] #1 closed, assigned to yaaminiv

[2016-11-07 06:55] yaaminiv opened #2 "Water chemistry data"
Just wondering if water chemistry data was available for me to look at/incorporate in my talk for GSS

[2016-11-08 05:48] #2 closed, assigned to nobody

[2016-11-30 00:42] yaaminiv opened #3 "sampling plan for protein extractions"
should i just randomly select 10 samples for us to extract proteins from? that would be 1 sample per treatment.

[2016-11-30 01:14] sr320 commented on #3
Yes- please list out samples here
On Tue, Nov 29, 2016 at 4:44 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2016-11-30 05:38] yaaminiv commented on #3
generated using [random number generator](random.org)

ROUND 1:

CI
	bare: O15
	eelgrass: O07
FB
	bare: O47
	eelgrass: O34
PG
	bare: O55
	eelgrass: O77
SK
	bare: O119
	eelgrass: O107
WB
	bare: O127
	eelgrass: O142

[2017-01-30 05:45] #3 closed, assigned to nobody

[2017-02-28 19:58] yaaminiv opened #4 "c. gigas transcriptome for PECAN?"
@sr320 ?

[2017-02-28 20:36] sr320 commented on #4
Transcriptome or Proteome?

[2017-02-28 20:37] sr320 commented on #4
Proteome: http://owl.fish.washington.edu/halfshell/bu-git-repos/nb-2017/C_gigas/data/Cg_Gigaton_proteins.fa

Proteome with possible contaminants: http://owl.fish.washington.edu/halfshell/bu-git-repos/nb-2017/C_gigas/data/Cg_Giga_cont_AA.fa

[2017-02-28 20:42] yaaminiv commented on #4
oh sorry, proteome! would it be better to use the one with or without contaminants (i'm assuming the one without...?)

[2017-02-28 20:47] #4 closed, assigned to nobody

[2017-10-06 18:45] sr320 opened #8 "Fail at step 2d in SRM analysis instructions"
When trying to paste proteome in get the follow error.

![image](https://user-images.githubusercontent.com/4442039/31293380-ddf5f346-aa8b-11e7-9048-3c2991c1730d.png)

[2017-10-06 18:48] yaaminiv commented on #8
Huh. I can investigate later today. I'm assuming it doesn't resolve itself when you press "OK"?

[2017-10-06 18:51] grace-ac commented on #8
Correct @yaaminiv . I'm testing it out and that is the step that got us stuck.

[2017-10-06 19:06] sr320 opened #9 "Provide brief explanation for major steps"
For example

Step 2: Create Dilution Curve Skyline Document

Provide a sentence below indicate what this is and why.

[2017-10-06 19:12] sr320 opened #10 "Opening new Skyline file?"
I presume

step 2a 1
https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb

refers to "Blank Document"?

![image](https://user-images.githubusercontent.com/4442039/31294378-84be1e30-aa8f-11e7-8dca-512584abc07a.png)

[2017-10-06 19:16] sr320 opened #11 "Source of blib?"
What is `2017-05-23-oyster-desearleinated.blib` ?

Where did it come from.

place short explanation on protocol

https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb

[2017-10-06 19:23] sr320 commented on #8
Pretty sure it is related to step 2b.
There is no fasta file provided.
![image](https://user-images.githubusercontent.com/4442039/31294794-1e9bb908-aa91-11e7-889d-a8327285a026.png)

thus error for 2d. no fasta.

[2017-10-06 19:33] yaaminiv commented on #10
Yes! I'll update the protocol accordingly.

[2017-10-06 19:33] #10 closed, assigned to yaaminiv

[2017-10-10 18:17] yaaminiv commented on #8
http://owl.fish.washington.edu/spartina/DNR_PECAN_Run_1_20170303/Combined-gigas-QC.txt is the file that I used in my DIA analyses as well (nb [here](https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-03-14-Skyline-Test-Run.ipynb))

I'm wondering if just changing the file extension may work....?

[2017-10-10 18:19] yaaminiv commented on #9
The purpose of this is to verify that the assay is detecting peptides based on their specific presence in the autosampler vial. We want to ensure that the machine only captures the oyster transitions we set out to measure. The oyster peptide detection should decrease as the concentration in the autosampler vial decreases, and vice versa.

[2017-10-10 18:22] yaaminiv commented on #11
From my [lab notebook](https://yaaminiv.github.io/Skyline-Attempt-3/):

Essentially Emma made my original .blib while I was going through my DIA analyses and I found that there were extremely high error rates in my Skyline document. So someone fixed the problem and created a new .blib using a version of PECAN. I don't have the script but can ask for it.

[2017-10-10 18:31] sr320 commented on #9
to clarify you need to add brief explanation for every major step _in the protocol_.

[2017-10-10 18:31] sr320 commented on #11
again be sure to add in protocol

[2017-10-10 18:35] yaaminiv commented on #9
Ohhh, will do!

[2017-10-10 18:35] yaaminiv commented on #11
Will do.

[2017-10-10 18:42] sr320 commented on #8
@emmats
What are your thoughts on this? Maybe this is cause of issue with replicates.
A tab-delimited text file is being used instead of fasta? Is this possible?

@yaaminiv
maybe.. but regardless your protocol fails at step 2b as currently written. So make sure you can demonstrate it works (follow your own protocol). I would suggest maybe you did not use this file for SRM as we cannot seem to repr

[2017-10-10 18:48] yaaminiv commented on #8
I'm going to troubleshoot this more today and adjust the protocol so it can be reproduced.

[2017-10-10 19:51] emmats commented on #8
Skyline wants fastas, I'm pretty sure.

I don't think this is the problem with the replicates, though.

[2017-10-10 21:14] yaaminiv commented on #11
Protocol updated accordingly
<img width="780" alt="screen shot 2017-10-10 at 2 14 04 pm" src="https://user-images.githubusercontent.com/22335838/31411068-4d388476-adc5-11e7-858e-1398323e83ba.png">

[2017-10-10 21:14] #11 closed, assigned to yaaminiv

[2017-10-10 21:26] yaaminiv commented on #9
Protocol updated accordingly.

[2017-10-10 21:26] #9 closed, assigned to yaaminiv

[2017-10-10 22:05] yaaminiv commented on #8
There was a FASTA file on the Windows machine I forgot to upload to OWL. It can now be found [here](http://owl.fish.washington.edu/spartina/DNR_Skyline_20170427/Combined-gigas-QC.fasta).

Additionally, in Step 2d, sometimes copying and pasting the sequences in the lefthand window doesn't work. I've updated the instructions so you can import a FASTA file and populate the analyte tree.  I've also up

[2017-10-10 22:05] #8 closed, assigned to yaaminiv

[2017-10-10 23:00] grace-ac opened #12 "Issue at Step 2f"
It's a little unclear how this step should be performed.

All the RAW files are on OWL. I can't figure out how to navigate to the directory, select, and open.

It seems like your protocol is saying that I should be able to navigate to the directory from the window that pops up after selecting, "Ok" in the "Import Results" window.
![capture5](https://user-images.githubusercontent.com/14934314/31414

[2017-10-10 23:06] yaaminiv commented on #12
Probably should clarify that in step 1 when you're gathering your materials, you should download the raw files. I can write some code and put that in to make it easier.

Basically what you need to do is download the raw files from the OWL link provided and then proceed with 2f!

[2017-10-10 23:17] yaaminiv commented on #12
@grace-ac were you able to download the files? i'm working on some code but it could take a while since i'm a bit rusty

[2017-10-10 23:21] yaaminiv commented on #12
@grace-ac JK not as rusty as I thought. Try this to download all RAW files from OWL:

`wget --no-parent -r http://owl.fish.washington.edu/spartina/DNR_SRM_20170728/Raw-Files/`

[2017-10-10 23:24] kubu4 commented on #12
@yaaminiv - She won't be able to do that since there's no command line tool installed on the Windows machine(s).

@grace-ac - The easiest way for you to currently do this is to log in to Owl. Use the "File Station" thing on Owl to navigate to the directory with all of the raw files. Select all of the files, right-click, Download.

[2017-10-10 23:28] sr320 commented on #12
Actually I already fixed this but possibly my edits were overwritten?
On Tue, Oct 10, 2017 at 4:24 PM kubu4 <notifications@github.com> wrote:

[2017-10-10 23:29] yaaminiv commented on #12
@sr320 Probably. I didn't realize you edited the file so I didn't sync the document with the version in the cloud before I continued editing.

[2017-10-10 23:33] yaaminiv commented on #12
@sr320 Went through and restored your edits. This is now fixed and @grace-ac should be able to access the .zip with all raw files

[2017-10-10 23:34] sr320 commented on #12
There is flaw here if used the desktop client or command line

It would have caught this

![2130c18d-8b0d-48c8-bd00-0680e100a83e](https://user-images.githubusercontent.com/4442039/31415524-dc38120a-add8-11e7-9dae-e471157d6cd8.jpeg)

Need to check flow

[2017-10-10 23:37] yaaminiv commented on #12
That's all me. Normally if there are multiple people working on a repo I sync before I make edits on any desktop files. Didn't realize you were also making edits on this repo, or else I would have synced before I edited!

[2017-10-11 00:03] sr320 commented on #12
I guess my point is that you should not have needed to sync. If there was a
conflict the software would have not allowed you to commit?

Unless you were in a web browser and cut and paste new text?

We should figure this out as it does introduce “issues” :)

On Tue, Oct 10, 2017 at 4:38 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-11 00:59] kubu4 commented on #12
Hmmm, I'm not sure there's anything for Git to catch here. There aren't any conflicts in that image above.

I think the only way to avoid these types of problems is to eliminate collaborator status. Then, any changes have to be submitted as pull requests, which allows the repo admin to allow/deny changes.

[2017-10-11 01:04] sr320 commented on #12
Yep, you are probably right.
On Tue, Oct 10, 2017 at 5:59 PM kubu4 <notifications@github.com> wrote:

[2017-10-11 14:28] sr320 opened #13 "Include Software version numbers"
in
https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb

[2017-10-11 14:30] sr320 opened #14 "Add what a blib file is..."
1 sentence is fine

https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb

[2017-10-11 15:11] sr320 opened #15 "Step 2C 2 - Exclude N-terminal AAs?"
Value is not explicitly stated
but in the screen shot is 0, by default it is no. Should it be?

![image](https://user-images.githubusercontent.com/4442039/31449398-a73c128a-ae5b-11e7-89c6-e43540cc1a39.png)

https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb

[2017-10-11 15:19] yaaminiv commented on #15
It should be 0. I'll update the protocol accordingly.

[2017-10-11 15:26] sr320 opened #16 "Importing Data step 2f"
It is not clear which files to import.

all 171 ?

https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb

[2017-10-11 15:29] yaaminiv commented on #16
You'd only import the 8 dilution curve files

[2017-10-11 15:32] sr320 commented on #16
So change to Import Dilution curve files

[2017-10-11 15:38] sr320 commented on #16
It would maybe seem more intuitive if this was part of Step 3?

[2017-10-11 15:47] sr320 opened #17 "No peaks? Step 3a."
see http://d.pr/v/X0RRmR

Step 3a, I am not seeing anything

Only deviation was I was importing all files. I cancelled.
Closed Skyline, re-opened and opened my setting file saved in Step 2

[2017-10-11 15:54] yaaminiv commented on #17
Ah, okay I see your analyte tree is full of all proteins. Since we only
targeted a select few, you won't have any data for the vast majority of
proteins there. I believe I deleted proteins that weren't targets by hand,
but I'll finalize instructions and put them on the protocol. Forgot I did
that!

[2017-10-11 16:28] sr320 commented on #17
Probably makes sense to just import targets at fasta stage and not complete protein bank.

[2017-10-11 16:32] yaaminiv commented on #17
Agreed, I'll adjust accordingly.

[2017-10-11 17:43] yaaminiv opened #18 "Correlating technical replicates"
As @emmats suggested, I regressed my technical replicates against each other for each transition to see if some transitions were messier than others. You can see my work in my [lab notebook entry](https://yaaminiv.github.io/Correlating-Technical-Replicates/).

There are definitely some transitions with lower adjusted R squared values than others. My first instinct is to establish some sort of R-sq

[2017-10-11 17:47] emmats commented on #18
What is the range? I would go pretty high with the cut-off. Your replicates should be right on top of each other. Maybe have @laurahspencer run the same script and figure out what her range of R2 values are? Off the cuff, I would say cut-off should be at least 0.85.

[2017-10-11 17:49] yaaminiv commented on #18
The range is .2 to .9 (there are examples of each in my notebook), with the majority being above 0.6.

[2017-10-11 17:51] yaaminiv commented on #18
Some examples for context. Peak area from the first batch of technical replicates on the x-axis, peak area from the second batch of technical replicates on the y-axis. Points are labelled with the oyster sample ID.

![bad-R](https://raw.githubusercontent.com/RobertsLab/project-oyster-oa/master/analyses/DNR_SRM_20170902/2017-10-10-Troubleshooting/2017-10-10-Transition-Replicate-Correlations/CHOYP_A

[2017-10-11 20:52] sr320 commented on #18
To me it should be some defined range around a line that is has slope of 1.
Thus based on replicates and not proteins

[2017-10-11 21:07] yaaminiv commented on #13
<img width="513" alt="screen shot 2017-10-11 at 2 07 36 pm" src="https://user-images.githubusercontent.com/22335838/31466869-9188a926-ae8d-11e7-817f-459220d2e251.png">

Resolved.

[2017-10-11 21:07] #13 closed, assigned to yaaminiv

[2017-10-11 21:11] yaaminiv commented on #14
<img width="944" alt="screen shot 2017-10-11 at 2 10 29 pm" src="https://user-images.githubusercontent.com/22335838/31467212-0f0f5868-ae8e-11e7-8c08-35697a4a70c6.png">

Resolved.

[2017-10-11 21:11] #14 closed, assigned to yaaminiv

[2017-10-11 21:13] yaaminiv commented on #15
<img width="981" alt="screen shot 2017-10-11 at 2 12 20 pm" src="https://user-images.githubusercontent.com/22335838/31467262-39e22534-ae8e-11e7-8d1e-39138bb7dda8.png">

Resolved.

[2017-10-11 21:13] #15 closed, assigned to yaaminiv

[2017-10-11 21:14] yaaminiv commented on #16
<img width="1004" alt="screen shot 2017-10-11 at 2 14 15 pm" src="https://user-images.githubusercontent.com/22335838/31467343-7d5ff6ce-ae8e-11e7-9df7-5d37396b01c3.png">

Resolved.

[2017-10-11 21:14] #16 closed, assigned to yaaminiv

[2017-10-11 21:24] grace-ac commented on #12
So using think at the top of your notebook entry, the RAW files were downloaded into a zip called "Archive". On the computer, I can see them in the srlab>downloads folder, and when I open the folder, they are all there.

However, when trying to follow step 2f in Skyline Daily, the folder and the files are not in the srlab-downloads.... ?
![capture](https://user-images.githubusercontent.com/1493431

[2017-10-11 21:30] yaaminiv commented on #12
In the Import Results Files, you have Sources of type set to "Any spectra format". Try changing it so it includes all filetypes?

[2017-10-11 21:38] sr320 commented on #12
This might be related to a “feature” in Windows- you can see the files in the zip file without unzipping. Try unzipping/uncompressing - maybe double click or right click on .zip file.

Sent from my iPad

[2017-10-11 21:39] yaaminiv commented on #12
@grace-ac Your issue is related to @sr320's comment. I unzipped the Archive so you can now access the RAW files from Skyline

[2017-10-12 03:53] laurahspencer commented on #18
I did a quick work-up using Yaamini's script. Summary data for R^2:
  * Mean: 0.8636
  * Min^: 0.6507
  * Max: 0.9679
  * Median: 0.9016
^One peptide from Superoxide Dismutase had an awful R^2 for 2 transitions (<0.1), which were outliers.

NOTE: This wasn't using the full data set. I have 17 samples with 3 reps, and 3 samples with 4 reps; only the first 2 reps run are represented here, which like

[2017-10-12 04:03] yaaminiv commented on #18
@emmats Maybe I can start with a 0.65 R-squared cutoff. If that doesn't improve anything, work up to a 0.85 cutoff?

@sr320 can you elaborate on your suggestion? From what I understand, I would plot x = y line in addition to a linear regression, and then consolidate the two somehow?

[2017-10-12 04:06] yaaminiv commented on #17
<img width="975" alt="screen shot 2017-10-11 at 9 06 12 pm" src="https://user-images.githubusercontent.com/22335838/31478852-137c44e4-aec8-11e7-98e4-3e83e4510bab.png">
<img width="512" alt="screen shot 2017-10-11 at 9 06 23 pm" src="https://user-images.githubusercontent.com/22335838/31478854-1482be9a-aec8-11e7-8dc9-8fee6c2c2836.png">

Resolved.

[2017-10-12 04:06] #17 closed, assigned to yaaminiv

[2017-10-12 05:21] #12 closed, assigned to nobody

[2017-10-12 05:53] laurahspencer opened #19 "L's feedback to date"
## Well done! You use lots of tricks that streamline scripts, which I will try to incorporate into my scripts. Here are my observations/suggestions:

### 1) Transitions list link in jupyter notebook is broken:
![image](https://user-images.githubusercontent.com/17264765/31479992-05a23970-aed0-11e7-9da8-d89b316ed91e.png)

### 4) This might be alarming to someone not used to Skyline, could add a note

[2017-10-12 06:20] yaaminiv commented on #19
Thanks for the feedback! Addressing 6)....

...I actually didn't get any errors. I was able to run the script with no problems after opening it (nothing saved in my global workspace).

<img width="792" alt="screen shot 2017-10-11 at 11 19 16 pm" src="https://user-images.githubusercontent.com/22335838/31481944-b5c58532-aeda-11e7-8c36-f731d8bbd5d2.png">

I'm assuming you already tried clearing your

[2017-10-12 06:30] yaaminiv commented on #19
1: Link is not broken! Will take you here: https://github.com/RobertsLab/project-oyster-oa/blob/master/analyses/DNR_TransitionSelection_20170707/2017-07-08-Final-Transitions/2017-07-10-SRM-Transitions-With-PRTC.csv
3: Using the linked file above when populating the analyte tree resolves this issue (procedure outlined in Step 2d)
6: See above comment
7: There are two separate files you are referrin

[2017-10-12 14:31] sr320 commented on #18
Lets discuss in class
On Wed, Oct 11, 2017 at 9:03 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-12 16:22] emmats commented on #18
I think the 0.6 cut-off sounds safe. But, of course, @sr320 makes the final call.

This is pretty informative for me. I've never done this before.

[2017-10-12 21:42] yaaminiv commented on #18
@emmats Here's my plan:

1. Normalize all my values by TIC to reduce any external variation (the plots I've made so far are not normalized...what are your thoughts on this step?)
2. Use a 0.6 cutoff and discard any transitions with an adjusted R-squared value below this. Remake an NMDS plot and examine clustering

AT THE SAME TIME...

1. Plot an x = y line on each plot, as well as a 95% confidence

[2017-10-12 21:44] emmats commented on #18
I think that sounds good. I don't think you need to normalize by TICs. If your TICs vary widely between technical replicates, then you have other problems.

[2017-10-12 21:56] yaaminiv opened #20 "Alarming Skyline notices"
From #19

### This might be alarming to someone not used to Skyline, could add a note to protocol:
![y-test3](https://user-images.githubusercontent.com/17264765/31479032-7b25c204-aec9-11e7-97fd-4d7bf92ed398.PNG)

[2017-10-12 21:57] yaaminiv opened #21 "Importing data in R scripts"
From #19

### Step 7b in the protocol has me duplicate/edit the sequence file; could instruct user to use this edited file in your R script:
![image](https://user-images.githubusercontent.com/17264765/31480102-a86fefa8-aed0-11e7-9cf2-6cdb888a031c.png)

[2017-10-12 21:58] yaaminiv opened #22 "File import options in R Studio"
From #19

Give option to either pull files from working director or from cloud

### You could use read.csv(url("http...")) in your R scripts to directly pull data from your repo

[2017-10-12 21:59] yaaminiv opened #23 "Error merging biological replicates with Skyline data"
From #19

@laurahspencer:
Error merging biological data to abundance data; possibly b/c the column name in biol. data set isn't exactly "Sample.Number"
![image](https://user-images.githubusercontent.com/17264765/31480389-72c29eb2-aed2-11e7-8857-9e9ddf75f55f.png)
### After changing that column's name to "Sample.Number" I executed the merge, but dataframe is empty; I think it's b/c your X db doesn't

[2017-10-12 22:00] yaaminiv opened #24 "Clarify difference between different sample keys"
From #19

"Your Sample Key"/"Sequence File" doesn't have any TIC values:
![image](https://user-images.githubusercontent.com/17264765/31480979-d78a1606-aed5-11e7-91e8-884d32cb4c9e.png)

@laurahspencer was using the wrong file. Need to clarify what the purpose of each file is and when to use it.

[2017-10-12 22:01] yaaminiv opened #25 "Add R package requirements to materials list"
From #19

You could add `install.packages("reshape2")` (etc.) for any non-baseR packages used (although I'm curious if we could write install code that would only "run if" it wasn't already installed....

[2017-10-12 22:02] yaaminiv commented on #19
See #20, #21, #22, #23, #24, and #25 for further progress.

[2017-10-12 22:02] #19 closed, assigned to nobody

[2017-10-12 22:04] yaaminiv opened #26 "Make all file links downloads"
Ex. "Predicted retention times" in SRM protocol

[2017-10-12 22:37] grace-ac opened #27 "Issue at 2d"
So, everything has worked great- I had no issue finding the RAW files in the downloads "Archive" folder today.

However, I'm at Step 3b: Clean Dilution Curve Data, and I don't know what is wrong. All the windows are blank...?
![capture1](https://user-images.githubusercontent.com/14934314/31522533-1149f0a4-af63-11e7-9f2e-fc762c257a16.PNG)

[2017-10-12 22:46] kubu4 commented on #23
For ```merge``` to function properly, don't you have to specify the ```by``` portion of the function like so:

```by.x="column_name", by.y="column_name"```

Not sure if you need both a ```by.x``` and a ```by.y```, so you could maybe just use one or the other?

[2017-10-12 22:50] yaaminiv commented on #23
I do specify the `by` portion! Just got cutoff in Laura's screenshots.

Here's my code (found in [this R script](https://github.com/RobertsLab/project-oyster-oa/blob/master/analyses/DNR_SRM_20170902/2017-09-06-NMDS-for-Technical-Replication.R)):

`masterSRMDataBiologicalReplicates <- merge(x = masterSRMData, y = biologicalReplicates, by = "Sample.Number")`

Where "Sample.Number" refers to the colu

[2017-10-12 22:52] kubu4 commented on #23
My understanding is that you're usage is incorrect. It should be:

```masterSRMDataBiologicalReplicates <- merge(x = masterSRMData, y = biologicalReplicates, by.y = "Sample.Number")```

[2017-10-12 22:55] yaaminiv commented on #23
Here's my understanding:

From [R Documentation](https://www.rdocumentation.org/packages/base/versions/3.4.1/topics/merge):

So by would be the general case, and would still work (that's how I was taught in R class!)

Either way, I don't think this argument is what's causing Laura's issues?

[2017-10-12 22:58] yaaminiv commented on #27
Opp, I think you're following an old version of the protocol! Repeat Step 2d (I revised it yesterday so you wouldn't encounter your specific issue).

[2017-10-13 03:31] kubu4 commented on #23
OK, there's something weird going on here. When I follow @yaaminiv link to her script that she provided above, it's not the same script that @laurahspencer's using.

For example, see Line 25 of @yaaminiv's script (quick screen cap below) and compare that to line 25 in @laurahspencer's screenshots above - not the same!

Am I missing something or is there confusion on which script (or version of the

[2017-10-13 03:35] laurahspencer commented on #23
I played around with the script (on my local computer) when working through her protocol to view data frames and fix an error I got so I could move forward with the work flow.

[2017-10-13 03:36] laurahspencer commented on #23
But my changes were basically View(), head(), etc.

[2017-10-13 03:38] kubu4 commented on #23
I ran through @yaaminiv script just past where @laurahspencer got her error and I get no errors.

RStudio Version 1.0.143.

[2017-10-13 19:07] yaaminiv commented on #27
@grace-ac Did that ^ work?

[2017-10-13 19:18] yaaminiv commented on #21
@laurahspencer Can you clarify what you mean by "use this edited file?" The purpose of editing the sequence file in 7b is to create the file you need for the R script

[2017-10-13 19:27] yaaminiv commented on #20
Resolved.

<img width="1026" alt="screen shot 2017-10-13 at 12 27 25 pm" src="https://user-images.githubusercontent.com/22335838/31562877-e654bc30-b011-11e7-8d9a-51a3ee1982fa.png">

[2017-10-13 19:27] #20 closed, assigned to yaaminiv

[2017-10-13 19:40] yaaminiv commented on #26
@sr320 I couldn't make 2 automatic downloads work:

- FASTA (downloading the FASTA on my computer also adds an extra .txt extension which is undesirable)
- Transition List .csv

Any suggestions?

[2017-10-13 19:42] yaaminiv commented on #25
No other non-base R packages were used

[2017-10-13 19:42] #25 closed, assigned to yaaminiv

[2017-10-13 20:57] grace-ac commented on #27
I haven't tried it yet - I'll be back in lab on Monday afternoon to test it out! sorry if you're waiting on it :(

[2017-10-13 21:07] kubu4 commented on #26
Links to files?

[2017-10-13 21:11] kubu4 commented on #26
Or, more specifically, link to what you're working (R script?) on to set up automatic downloads.

[2017-10-13 21:15] kubu4 commented on #26
Also, could you please clarify on what is not working for the .csv file?

[2017-10-13 21:51] yaaminiv commented on #26
@kubu4

In the first step of my [SRM protocol](https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb), I have the user gather all of the materials they need. Steven was able to adjust the link to the Predicted Retention time document in my Jupyter notebook such that it downloaded automatically when I clicked it. I tried to do the same

[2017-10-13 22:08] yaaminiv commented on #24
Resolved.

[2017-10-13 22:08] #24 closed, assigned to yaaminiv

[2017-10-13 22:08] yaaminiv commented on #21
Resolved in #24

[2017-10-13 22:08] #21 closed, assigned to yaaminiv

[2017-10-13 22:10] yaaminiv commented on #27
No worries! Just wanted to make sure I wasn't missing anything.

[2017-10-13 22:11] yaaminiv commented on #23
I used the same R studio version, R version 3.4.0 (2017-04-21) -- "You Stupid Darkness". Is there a potential version issue between our computers and Woodpecker (what Laura's using to reproduce my analyses)?

[2017-10-13 22:19] kubu4 commented on #26
I've fixed the FASTA file download link.

I'm not experiencing any issues with downloads of either file. Right-click, "Save link as..." on each file link gets me both files in the proper format.

The other files that are in the list cannot be opened by a browser; that's why they do not require a right-click -> "Save link as...". However, a FASTA file (which is a text file) and a CSV file (which is

[2017-10-13 22:21] yaaminiv commented on #26
Got it! I'll just include specific right-click/saving instructions for those files then. Thanks @kubu4!

[2017-10-13 22:23] #26 closed, assigned to yaaminiv

[2017-10-14 23:36] kubu4 opened #28 "Add all files to repo?"
In the [017-09-28-SRM-Skyline-Data-Pipeline.ipynb](https://github.com/RobertsLab/project-oyster-oa/blob/master/notebooks/DNR/2017-09-28-SRM-Skyline-Data-Pipeline.ipynb) notebook, why not host all of the files listed in Step 1 in this repo? Of course, the ZIP file of all the RAW files wouldn't work, but all of the individual RAW files are small enough (i.e. <100MB) to be contained in the GitHub rep

[2017-10-15 00:05] yaaminiv commented on #28
My plan is to perfect the pipeline in this repo (my working repository), then move all necessary files over to [my paper repo](https://github.com/RobertsLab/paper-gigas-DNR-proteomics). I'm just hesitant to do that now since I'm having issues with my SRM data and don't know if I'll be able to use it in the paper.

[2017-10-15 00:05] #28 closed, assigned to nobody

[2017-10-15 00:21] yaaminiv commented on #18
@emmats @sr320
[Notebook]()

I went through the first part of my plan and used R-squared cutoffs to eliminate transitions and remake NMDS plots. I used a combination of three cutoffs (0.6, 0.7 and 0.8) and normalized/nonnormalized data. I found normalizing made my plots look a little better. Overall this helped a bit, but the technical replication still doesn't look fantastic.

0.6, normalized:

!

[2017-10-15 08:38] sr320 commented on #18
I would not necessarily expect r2 threshold to improve reps- eg you good
have a r2 of 1 and slope could be 0.

On Sun, Oct 15, 2017 at 2:21 AM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-16 15:54] emmats commented on #18
I'm still pretty suspicious of these data. It just doesn't make sense that the technical replicates don't look the same.

[2017-10-16 18:42] laurahspencer commented on #23
It must be a Windows thing. Same R version (3.4.0, 2017-04-21) & RStudio version:
![image](https://user-images.githubusercontent.com/17264765/31628714-6a880efc-b266-11e7-9a6f-9b55116358da.png)

I just tried re-downloading all materials & rerunning code on the Windows computer, same error:
![snip20171016_1](https://user-images.githubusercontent.com/17264765/31628782-991271ea-b266-11e7-8eb5-02bf4dba

[2017-10-16 19:12] kubu4 commented on #23
Adding support to @laurahspencer's Windows experience.

I also get this error when running on Windows 7 (R v3.4.2; RStudio 1.1.383).

[2017-10-16 19:43] kubu4 commented on #23
I thought I had this figured out, but not dice. However, here's some insight into what's causing the issue. @laurahspencer actually alluded to this in her screen caps, but I'm not sure if she was highlighting the actual problem or just the column name. Anyway, the cause of the issue is a weird character set inserted in the "Sample.Name" column in the 2017-09-06-Biological-Replicate-Information.csv

[2017-10-16 19:58] grace-ac commented on #27
This happened after re-doing 2d:

![capture](https://user-images.githubusercontent.com/14934314/31632389-9d39c754-b271-11e7-9e4b-e2474f657c41.PNG)

[2017-10-16 20:01] kubu4 commented on #23
OK, here's the immediate fix to this specific issue. Line 22 should be:

```biologicalReplicates <- read.csv("2017-09-06-Biological-Replicate-Information.csv", na.strings = "N/A", fileEncoding="UTF-8-BOM")```

Specifying the file encoding as UTF-8-BOM is needed for this particular file.

However, there is a bigger issue here; how did this file get this way? The answer most likely lies in the CSV b

[2017-10-16 20:04] yaaminiv commented on #23
I'll make the edit to the code ASAP. I'm not working on a Windows right now but I think @laurahspencer is and could see if this fixes our issues?

And good to know about the Windows Comma Separated .csv! I'll make adjustments.

[2017-10-16 20:07] yaaminiv commented on #27
That's odd! Didn't happen to me on the same machine you're using when I tried it out. What happens when you press cancel? I don't understand what error it's seeing. Any suggestions @emmats ?

[2017-10-16 20:08] grace-ac commented on #27
I just pressed cancel, and my screen looks exactly how it does in the original screenshot of this issue

[2017-10-16 20:10] yaaminiv commented on #27
Huh...what does it look like when you press OK?

[2017-10-16 20:10] kubu4 commented on #23
To clarify, I know the code change fixes the issue - I tested it on Windows.

We'll need you to test out the change in file saving procedure and see if the "old" code works with the file when saved using the "Windows Comma Separated (.csv)" option.

[2017-10-16 20:11] grace-ac commented on #27
![capture](https://user-images.githubusercontent.com/14934314/31632909-79acc3ca-b273-11e7-9b78-7ea1aabf0c69.PNG)

[2017-10-16 20:14] yaaminiv commented on #27
It seems like you kept all of the previously imported transitions before you redid 2d! Try deleting absolutely everything from that lefthand window and re-importing the transition list.

[2017-10-16 20:16] yaaminiv commented on #23
Oh, gotcha! I was able to run through my entire script with no errors.

[2017-10-16 20:51] emmats commented on #27
Let me know if you still need my input.

[2017-10-16 20:55] grace-ac commented on #27
I restarted from the beginning and still got the error.

Things look much better though, after clicking, "OK" and I'm currently working on Step 3b.

[2017-10-16 21:03] yaaminiv commented on #27
@emmats do you know what could be causing this error? I exported the transition list from Skyline itself.

@grace-ac You should open up the transition list and make sure the transitions in your Skyline document are the same ones in the transition list you're importing.

[2017-10-16 21:14] grace-ac commented on #27
I went through and I matched the numbers on the list to those in Skyline doc. I just highlighted the first three to show what numbers I was matching.
![capture](https://user-images.githubusercontent.com/14934314/31635605-2c991d8c-b27c-11e7-9f71-4d4fab1affac.PNG)
![capture1](https://user-images.githubusercontent.com/14934314/31635606-2cae65ac-b27c-11e7-9408-f3d859b5d955.PNG)

All of the ones in Sky

[2017-10-16 21:17] yaaminiv commented on #27
AH those are the PRTC peptides! I think I know what's causing the error so I can fix that for you. It won't affect any of your downstream analyses.

You can also click on the plus signs to expand the protein and see the peptides/transitions associated with it

[2017-10-16 22:08] grace-ac commented on #27
Okay - I clicked the plus signs and they all match! woo!

Let me know when you fix whatever is causing the error and i'll re-do it!

[2017-10-16 22:11] yaaminiv commented on #27
In the transition list, what would happen if you removed the space between PRTC and peptides, or got rid of that phrase entirely (keeping the other content in that row)?

[2017-10-18 19:46] grace-ac commented on #27
I tried both suggestions, and both resulted in the same error.

[2017-10-18 19:51] emmats commented on #27
I've never seen this error before so I can't really weigh in on what is going wrong. If you can't figure it out, I can probably stop by tomorrow afternoon or Monday.

[2017-10-24 17:29] sr320 commented on #18
@yaaminiv can you please provide a csv with respective technical in adjacent columns?

[2017-10-24 17:33] yaaminiv commented on #18
@sr320 [csv](https://github.com/RobertsLab/project-oyster-oa/blob/master/analyses/DNR_SRM_20170902/2017-10-10-Troubleshooting/2017-10-24-Confidence-Interval-Transitions/2017-10-24-Targets-Replicates-Adjacent-Columns.csv)

I just tried playing with slopes and confidence intervals. I'm going to try one more thing on that front and then write it up in a lab nb post/possibly post a new issue

[2017-10-24 18:19] yaaminiv commented on #18
[Notebook](https://yaaminiv.github.io/Correlating-Technical-Replicates-Part3/)

I was following @sr320 suggestion to look at slopes and plot a 95% confidence interval around an x = y line. Ran into some issues doing that (more details in my nb), so I can only really plot an x = y line and a prediction line (same intercept as regression, but a slope of 1) along with my data.

![example](https://raw

[2017-10-24 18:34] yaaminiv commented on #18
There are also transitions that have poor R squared values but slopes close to 1. What should I do about those?

![choyp_psa 1 1 m 27259 yfqiayplpk y4 confint](https://user-images.githubusercontent.com/22335838/31961321-3d222c32-b8af-11e7-9735-19268b06278b.jpeg)

[2017-10-24 18:40] sr320 commented on #18
Provide the new data sheet I mentioned above and I can provide feedback
On Tue, Oct 24, 2017 at 11:34 AM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-24 18:44] yaaminiv commented on #18
@sr320 The one with tech reps in adjacent columns? I linked you to that!

[2017-10-24 18:48] sr320 commented on #18
Sorry - I need it in just two columns with the sample IDs in a column...

[2017-10-24 19:05] yaaminiv commented on #18
@sr320 I think I'm confused...so sample IDs in one column, transitions in another column?

[2017-10-24 19:06] sr320 commented on #18
Col1-transition     |      Col2-sampleID     |      Col3-rep1      |      Col4-rep2

[2017-10-24 19:07] sr320 commented on #18
Column1 and Column2 could be switched....

[2017-10-24 19:08] yaaminiv commented on #18
normalized or not normalized?

[2017-10-24 19:10] sr320 commented on #18
How about both...

[2017-10-24 21:23] yaaminiv commented on #18
[Normalized](https://github.com/RobertsLab/project-oyster-oa/blob/master/analyses/DNR_SRM_20170902/2017-10-24-Normalized-Adjacent-Technical-Replicates)
[Not normalized](https://github.com/RobertsLab/project-oyster-oa/blob/master/analyses/DNR_SRM_20170902/2017-10-24-NonNormalized-Adjacent-Technical-Replicates)

[2017-10-24 21:47] sr320 commented on #18
Use this data to start making graphs - simply average reps.

http://d.pr/f/OtdTD

This is just the normalized data with coefficient of variance less than 20.

[2017-10-24 22:28] grace-ac commented on #27
I realize that you've been gone @yaaminiv , but I tried it again, because earlier in this thread you said you were going to fix something - thought I'd see if anything has changed.

Error happened again.
![capture](https://user-images.githubusercontent.com/14934314/31971372-67862142-b8d0-11e7-93c8-7f38d954e878.PNG)

Would it have anything to do with the fact that I'm using Excel?
![capture-o1](htt

[2017-10-24 22:31] kubu4 commented on #27
What is the full error message from the screenshot @grace-ac posted in this comment: https://github.com/RobertsLab/project-oyster-oa/issues/27#issuecomment-337018610

[2017-10-24 22:32] grace-ac commented on #27
I just updated my comment @kubu4
is that what you are looking for?

[2017-10-24 22:33] kubu4 commented on #27
Nope. The error messages are truncated and can't be read. Need to be able to read the entire message for each line.

[2017-10-24 22:33] yaaminiv commented on #27
I don't think it's an Excel issue! I think it's some sort of problem with Skyline where it can't recognize the peptides from the transition list because the retention times in the transition list do not align with what's in the library...? I'm still working on it, but this issue won't affect anything in the SRM protocol since I haven't dealt with my PRTC peptides yet.

[2017-10-24 22:40] grace-ac commented on #27
That's as much as I could get.
![capture](https://user-images.githubusercontent.com/14934314/31971642-7bfd6314-b8d1-11e7-9b06-c9ad76658723.PNG)

Not really sure I understand what's happening - whether I should continue with the protocol or wait for you to investigate things @yaaminiv

[2017-10-24 22:43] yaaminiv commented on #27
@grace-ac Continue!! It's possibly over my head as well so don't wait for me.

[2017-10-24 22:43] kubu4 commented on #27
For kicks @grace-ac , when that line is highlighted, can you copy it (right-click or ctrl-c), and then paste in a text editor for viewing?

[2017-10-24 22:47] grace-ac commented on #27
@kubu4 No, but I could hold the mouse over and read the remaining words:
"match the tolerance on the Instrument tab of the Transition Settings."

Same for all of them.

[2017-10-24 22:49] yaaminiv commented on #27
@grace-ac Hold up! Continue with 2e, then retry 2d. I have a hunch that after changing your transition settings, you'll be able to import everything

[2017-10-24 22:52] grace-ac commented on #27
Same error. The transition settings were already set according to your protocol from my previous attempts

[2017-10-24 22:53] yaaminiv commented on #27
Darn. I'm not sure what it is so I'll play around with it tomorrow, but again, it won't affect anything else in that protocol

[2017-10-24 22:54] grace-ac commented on #27
Cool beans - I shall continue!

[2017-10-24 23:17] grace-ac commented on #27
3b is where I'm stuck - which is where I believe I started this whole issue in the first place.
![capture](https://user-images.githubusercontent.com/14934314/31972528-001724ba-b8d6-11e7-87ef-80ae3fd9c462.PNG)

Does not look like your screenshot for Step 3b:
![capture1](https://user-images.githubusercontent.com/14934314/31972579-3b3dbe14-b8d6-11e7-8bc7-52688bcd36fd.PNG)

[2017-10-24 23:19] yaaminiv commented on #27
Ah! Instead of clicking on the protein name, you want to click on the peptide (i.e. the things with the green dots next to them)

[2017-10-25 17:15] grace-ac commented on #27
So, am I comparing the peptide retention time to the average SRM retention time?
![capture](https://user-images.githubusercontent.com/14934314/32012659-75f374ee-b96d-11e7-82dd-f565969db4d5.PNG)

[2017-10-25 17:19] yaaminiv commented on #27
Yup! You compare the average retention time with the retention times in the Skyline document. The correct peak will have all three transition fragments.

[2017-10-25 18:22] grace-ac opened #29 "Step 3b: Retention time qs"
Up until now, I've been feeling pretty good about picking retention times, but for this peptide, things seem a bit different.
Screenshot:
![capture](https://user-images.githubusercontent.com/14934314/32015467-0b4e73e2-b976-11e7-96b3-9abc9012fadf.PNG)

Issues:
(1) This peptide started out by looking like 19.7 was about where the best peak was. Then , as I moved through the tabs, there were no peaks

[2017-10-25 18:29] yaaminiv commented on #29
1) I would pick the peaks at 19.4. Retention times will decrease as you move through the samples and there are bound to be some anomalies.
2) Not exactly sure what dotp means but it's not affecting whether something increases or decreases! That's just the assay, so in this case, this peptide would be something you exclude moving forward (refer to SRM protocol for more information on that).
3) The

[2017-10-25 18:34] sr320 commented on #29
note I am just watching this,  but it would appear that every issue grace
has, needs to be addressed in the protocol itself, not just in github.
Thus the github response would be how the protocol has been changed..

we can go over in class tomorrow.

On Wed, Oct 25, 2017 at 11:31 AM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-25 18:36] yaaminiv commented on #29
Ah, yes. I've made a note of what needs to be modified in the SRM protocol and have a few ideas/clarifications I'll bring up class!

[2017-10-25 19:06] grace-ac commented on #29
New Question:

Skyline picked this after I clicked "Apply Peak to All" in the first tab:
![capture1](https://user-images.githubusercontent.com/14934314/32017810-c19819c2-b97c-11e7-9120-f88ed371c385.PNG)

Should I go through when this happens and pull the boundaries out for the peak like so:
![capture](https://user-images.githubusercontent.com/14934314/32017830-d1bcc46a-b97c-11e7-9558-52eb2dc420ed.

[2017-10-25 19:08] yaaminiv commented on #29
It's necessary (and I believe I mention to fix peak boundaries in the protocol)!

[2017-10-25 19:11] grace-ac commented on #29
Ah yes, so sorry! You definitely did!! I see that now.

[2017-10-25 21:29] grace-ac opened #30 "Missing some peptides?"
I'm missing some peptides (Highlighted in orange) in my Skyline list that are listed in your SRM Retention times spreadsheet:
![capture1](https://user-images.githubusercontent.com/14934314/32021575-986acb7e-b988-11e7-8cb4-7cc221ddd55d.PNG)

[2017-10-25 21:35] yaaminiv commented on #30
Oof. Okay I'll try and fix that ASAP and let you know when I'm done (hopefully tomorrow)

[2017-10-25 21:36] #23 closed, assigned to sr320, grace-ac, yaaminiv

[2017-10-26 16:57] yaaminiv commented on #18
[Notebook](https://yaaminiv.github.io/Correlating-Technical-Replicates-Part5/)

Used CV filtering to redo NMDS/ANOSIM analyses. Slight improvement in technical replication, ANOSIM/NMDS indicates no significant clustering pattern.

Going to filter data with CV ≤ 10 and repeat. Will also look at expression of individual proteins making boxplots, etc. Interested in your thoughts @emmats.

[2017-10-26 17:37] grace-ac commented on #30
@yaaminiv your skyline document in Owl is also missing those same peptides (highlighted in orange if first comment)
![capture](https://user-images.githubusercontent.com/14934314/32067929-a49be8a4-ba39-11e7-818d-70840d209f70.PNG)

[2017-10-26 17:41] yaaminiv commented on #30
According to [my notebook](https://yaaminiv.github.io/SRM-Assay-Day1/) the transition list you're using is final. I must have not updated the predicted retention time document then. I'll update that and close the issue, but the bottom line is that you're not missing peptides!

[2017-10-26 18:10] grace-ac opened #31 "Suggestion: rearrange some of the instructions"
Very minor suggestion, but it might help with clarity!

At the end of Step 3c, you say, "If this is not the case, then the peptide needs to be excluded from the analyses." I then spent some time trying to figure out what you meant and how to do that.

Then, I decided to just continue reading to see what's going on, and I saw that Step 4b is where the instructions for deleting peptides are.

I woul

[2017-10-26 20:49] grace-ac opened #32 "Suggestion: Rename Raw files"
At Step 4c, I am instructed to import .raw files numbered 2-137.

This gets a little messy looking for it, so it might makes things easier if they are numbered 002, 003, etc., since it goes up to 3 digits.
![capture](https://user-images.githubusercontent.com/14934314/32076352-843a19c6-ba54-11e7-9798-60f0cea08059.PNG)

[2017-10-26 21:49] grace-ac opened #33 "Step 5b: question"
Why does the raw folder that we download include blank files if we're just going to end up deleting them in skyline after we upload them?

[2017-10-26 21:51] yaaminiv commented on #33
on account of me being lazy and not sorting through all of the raw files and putting them into separate folders. I'll work on it!

[2017-10-26 22:00] grace-ac opened #34 "Step 5b: 83 and 84 files look weird!"
I deleted all the blanks.

file 83 and 84 look weird - not sure if they should be removed:
![capture83](https://user-images.githubusercontent.com/14934314/32079140-5d5c35be-ba5e-11e7-8145-8eb14de00a31.PNG)
![capture84](https://user-images.githubusercontent.com/14934314/32079141-5d72d76a-ba5e-11e7-9580-31b6201dbd31.PNG)

[2017-10-26 22:04] yaaminiv commented on #34
Looks kind of noisy to me. What does the protocol say about removing peaks?

[2017-10-27 01:42] yaaminiv opened #35 "Coefficient of variation filtering for transitions"
For each pair of technical replicates, I removed any transitions that had a coefficient of variation greater than a certain thresh.old (from Steven's suggestion in #18). I used three different thresholds: CV>20, CV>15, CV>10. I reexamined my technical replication, my NMDS for samples/eelgrass, and my ANOSIMs. I also made box plots for each transition, using just sites and both sites and eelgrass c

[2017-10-27 01:43] yaaminiv commented on #18
Seeing how we've answered my original question, I'm going to continue the current conversation in #35.

[2017-10-27 01:43] #18 closed, assigned to nobody

[2017-10-27 01:51] sr320 commented on #35
Can you provide an example where you show all transition plots for single
protein?
On Thu, Oct 26, 2017 at 6:42 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-27 01:55] yaaminiv commented on #35
For Heat Shock Protein, just sites (WITH TITLES).

**CV >20 Filtering**:

![choyp_hs12a 25 33 m 60352 apttlllepdgk y4](https://user-images.githubusercontent.com/22335838/32084853-8d8f7486-ba80-11e7-92e1-4e02d506c317.jpeg)
![choyp_hs12a 25 33 m 60352 apttlllepdgk y6](https://user-images.githubusercontent.com/22335838/32084854-8da6a25a-ba80-11e7-9830-620498c7d5e4.jpeg)
![choyp_hs12a 25 33 m 60352 ap

[2017-10-27 01:59] yaaminiv commented on #35
**ALL FIXED**

Hang on, just realized that none of my box plots have titles. Give me a few minutes and I can paste the same graphs but with titles that indicate what protein/peptide/transition you're looking at

[2017-10-27 02:22] sr320 commented on #35
That would be great
On Thu, Oct 26, 2017 at 7:00 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-27 02:27] sr320 commented on #35
Related to the other question - take the <20 filtered data and determine
how many transitions have data for all samples
On Thu, Oct 26, 2017 at 7:22 PM Steven Roberts <sr320@u.washington.edu>
wrote:

[2017-10-27 03:35] yaaminiv commented on #35
only 1

[2017-10-27 14:49] sr320 commented on #35
Are you using zeros for values when you have no data?

[2017-10-27 15:34] yaaminiv commented on #35
yes

[2017-10-27 15:35] emmats commented on #35
I'm still concerned about the replication. If the exact same sample is injected in the same mass spectrometer two different times, the results (especially for SRM!) should look the same. With the kind of variance you have, I worry that 1) sample names/locations got mixed up, 2) there is something very wrong with the list of transitions and they are completely unreliable, or 3) the column switch re

[2017-10-27 15:35] emmats commented on #35
Shoot, the #s should not have been linked to previous issues. That was a mistake!

[2017-10-27 15:43] sr320 commented on #35
Emma - lets get together and discuss. Are you available today.
It would appear to me that Laura’s data in not much different than
Yaamini’s.

On Fri, Oct 27, 2017 at 8:37 AM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-27 15:43] sr320 commented on #35
Yaamini - if the “yes” was to my question, that is the wrong way to do it.
It should be treated as no data.

On Fri, Oct 27, 2017 at 8:42 AM Steven Roberts <sr320@u.washington.edu>
wrote:

[2017-10-27 15:44] emmats commented on #35
I can join by Hangout assuming my energy stays up. I had surgery on Tuesday but I'm feeling OK today.

[2017-10-27 15:45] yaaminiv commented on #35
@sr320 the yes was to your comment. I had to replace NAs with zeros for my NMDS, so let me look at my dataset with NAs and get back to you?

[2017-10-27 17:13] grace-ac commented on #34
That all peptide peaks need to be verified for each sample.

And since these are just crazy zig zags - not peaks, I removed them.

[2017-10-27 17:14] grace-ac commented on #34
And so now, I have to go through each tab. And within each tab, check that each peptide peak looks good.

[2017-10-27 17:19] yaaminiv commented on #34
Alright I'll make the protocol more specific. But yeah, removing them is the right call.

[2017-10-27 17:32] sr320 commented on #35
Thus NMDS is inaccurate also
On Fri, Oct 27, 2017 at 8:46 AM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-27 17:36] yaaminiv commented on #35
I actually can't make an NMDS with NA values, so I'm unsure how to correct that?

[2017-10-27 17:42] sr320 commented on #35
No action needed- just focus on distinct protein expression visualizations

On Fri, Oct 27, 2017 at 10:37 AM Yaamini Venkataraman <
notifications@github.com> wrote:

--
Steven B. Roberts
Kenneth K. Chew Endowed Professor
School of Aquatic and Fishery Sciences
University of Washington, Seattle WA
sr320@uw.edu  -  206.866.5141
robertslab.info  -  @sr320

[2017-10-27 18:01] #34 closed, assigned to nobody

[2017-10-27 18:05] grace-ac opened #36 "Peak question"
Some of the peak data are not on the x-axis. Is this okay - or are these samples supposed to be removed?
![capture](https://user-images.githubusercontent.com/14934314/32118441-9340412c-bb06-11e7-8fae-2578b22cfe7c.PNG)

[2017-10-27 18:10] grace-ac commented on #36
hmmm actually maybe most are like this. may have asked this question prematurely.

[2017-10-27 18:22] yaaminiv commented on #36
I don't think I understand your question!

[2017-10-27 18:27] grace-ac commented on #36
I think I just got confused.
The intensity (y-axis) for many samples is above 0 and none of them reach zero.

I thought that to create peaks, you had to select the area between where the intensity was zero on either side of the peak.

But I think that if you zoom in enough on these samples, none of them are at zero.

[2017-10-27 18:52] yaaminiv commented on #36
Ah yeah there's always some signal so you won't have anything with a minimum of zero

[2017-10-27 20:59] #36 closed, assigned to nobody

[2017-10-28 12:47] #35 closed, assigned to sr320, emmats

[2017-10-30 21:59] yaaminiv opened #37 "New boxplots with data points on top"
[Notebook](https://yaaminiv.github.io/Correlating-Technical-Replicates-Part9/)

[Folder with boxplots](https://github.com/RobertsLab/project-oyster-oa/tree/master/analyses/DNR_SRM_20170902/2017-10-10-Troubleshooting/2017-10-24-Coefficient-of-Variation/2017-10-26-CV-20-Boxplots)

Heat shock protein plots. My two peptides have very different patterns:

![1](https://raw.githubusercontent.com/RobertsL

[2017-10-31 14:23] sr320 commented on #37
Pick one peptide for each protein for slides today. We will discuss
afterwards approach going forward.

On Mon, Oct 30, 2017 at 3:00 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-10-31 14:38] sr320 commented on #37
Pick one transition per protein for today’s slides - and we will discuss
afterwards

On Mon, Oct 30, 2017 at 3:00 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-11-06 18:41] #37 closed, assigned to nobody

[2017-11-06 18:42] yaaminiv opened #38 "Peptide-level analyses"
[Notebook](https://yaaminiv.github.io/Remaining-Analyses-Part2/)

Redid my analyses at the peptide level, still didn't really find anything significant. New boxplots can be found [here](https://github.com/RobertsLab/project-oyster-oa/tree/master/analyses/DNR_SRM_20170902/2017-10-10-Troubleshooting/2017-11-05-Integrated-Dataset/2017-11-06-Boxplots). Should I just run t-tests/ANOVAs to determine if

[2017-11-06 18:44] sr320 commented on #38
Yes - stats should be run..

[2017-11-06 18:52] yaaminiv commented on #27
@grace-ac Do you think you can create a new issue with the Skyline error message you keep getting? I want to address the other questions in this issue and close it out, then refer emma to the new issue you'll create!

[2017-11-06 18:56] yaaminiv commented on #27
Resolved issues at 3b, but not the import issue at 2d. @grace-ac will create a new issue and I will continue the discussion there.

[2017-11-06 18:56] #27 closed, assigned to nobody

[2017-11-06 19:00] yaaminiv commented on #29
Protocol updated with clearer peak picking instructions.

[2017-11-06 19:00] #29 closed, assigned to nobody

[2017-11-06 19:02] yaaminiv commented on #31
Clarified that instructions for peptide exclusion will come later! Issue resolved.

[2017-11-06 19:02] #31 closed, assigned to nobody

[2017-11-06 19:05] yaaminiv commented on #30
Removed peptides that Emma and i removed from the transition list from predicted retention time document.

[2017-11-06 19:05] #30 closed, assigned to nobody

[2017-11-06 20:16] yaaminiv commented on #32
Good suggestion! I updated the file names and reorganized them (as suggested in #33), as well as modified the protocol. Can you redownload the raw files and ensure that everything still works/it's clear?

[2017-11-06 20:16] yaaminiv commented on #33
Reorganized files in OWL. Asked @grace-ac to ensure changes were viable in #32.

[2017-11-06 20:16] #33 closed, assigned to nobody

[2017-11-06 22:50] yaaminiv commented on #38
[Notebook](https://yaaminiv.github.io/Remaining-Analyses-Part3/)

![significant](https://raw.githubusercontent.com/RobertsLab/project-oyster-oa/master/analyses/DNR_SRM_20170902/2017-10-10-Troubleshooting/2017-11-05-Integrated-Dataset/2017-11-06-Boxplots/2017-11-06-Annotated-Results.jpeg)

Have some significant peptides. Not sure if there's anything I can do with them before I get environmental dat

[2017-11-06 23:01] sr320 commented on #38
This would be your story for your WSN talk ... Looks like big difference is
WB and other sites. ID general conditions that are different (not you
should look at buoy data) and for the slides just pic a peptide that is
different per protein.. Come up with explanation and possible implications.
On Mon, Nov 6, 2017 at 2:51 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-11-06 23:12] yaaminiv commented on #38
So look at buoy data or not...?

[2017-11-06 23:14] sr320 commented on #38
- typo not = note
On Mon, Nov 6, 2017 at 3:13 PM Yaamini Venkataraman <
notifications@github.com> wrote:

[2017-11-09 18:42] grace-ac opened #39 "Step 3a: Dilution-curve folder empty"
![capture1](https://user-images.githubusercontent.com/14934314/32623310-964fa3ec-c53a-11e7-89d2-5280c0c087a3.PNG)

I found the folder in my downloads, but it was empty
![capture](https://user-images.githubusercontent.com/14934314/32623321-9fca9774-c53a-11e7-97ba-4d0619f1279c.PNG)

[2017-11-09 23:16] yaaminiv commented on #39
You're in the wrong directory! If you download the .zip file with the RAW data, there's a folder within that called dilution curve

[2017-11-09 23:35] grace-ac commented on #39
I downloaded again just to make sure.
 I found them on the computer:
![capture](https://user-images.githubusercontent.com/14934314/32635027-5e83b2a4-c563-11e7-805d-560fb13b22be.PNG)

But I can't find them through Skyline :/
![capture1](https://user-images.githubusercontent.com/14934314/32635046-744c2fc6-c563-11e7-9692-ddda5ded60fb.PNG)
![capture2](https://user-images.githubusercontent.com/14934314

[2017-11-10 01:00] yaaminiv commented on #39
There's no Archive(1) folder (since that's what it's named on your computer)? Did you unzip it (I remember that was an issue once)?

[2017-11-10 01:03] sr320 commented on #39
Sounding like protocol might need to be modified?

On Thu, Nov 9, 2017 at 5:01 PM Yaamini Venkataraman <
notifications@github.com> wrote:

--
Steven B. Roberts
Kenneth K. Chew Endowed Professor
School of Aquatic and Fishery Sciences
University of Washington, Seattle WA
sr320@uw.edu  -  206.866.5141
robertslab.info  -  @sr320

[2017-11-10 19:22] grace-ac commented on #39
Ah, yep! They were not unzipped. So I right-clicked on the "Archive (1)" in my downloads, and then selected "Extract All...".
![capture](https://user-images.githubusercontent.com/14934314/32674741-51d308ce-c609-11e7-9d2b-4ee0a91e9d41.PNG)

[2017-11-10 20:06] grace-ac commented on #32
Successful! Everything still works for Step 4c and is clear.

[2017-11-10 20:06] #32 closed, assigned to nobody

[2017-11-12 01:35] yaaminiv commented on #39
Modified protocol to include instructions to unzip files :]

<img width="976" alt="screen shot 2017-11-11 at 5 34 20 pm" src="https://user-images.githubusercontent.com/22335838/32695066-af36d376-c706-11e7-9c68-12a0561d8da6.png">

[2017-11-12 01:35] #39 closed, assigned to nobody

[2017-11-12 01:36] #38 closed, assigned to sr320, yaaminiv

[2017-11-13 19:05] yaaminiv opened #40 "Samples with poor technical replication"
[Notebook](https://yaaminiv.github.io/Remaining-Analyses-Part4/)

Looks like the samples with poor technical replication were run on the first column. The second technical replicate of those samples were the sample we ran before we changed the column. My guess is the technical issue with the column affected those samples before we realized we needed to change the column.

@emmats I can get you 2 o

[2017-11-13 19:19] emmats commented on #40
I need a bit of clarification: Are you saying that samples with poor technical replication had both replicates run on the first column? Or had one replicate run on the first and one of the second column?
Either way, if you are confident that the source of poor replication is the column, then there isn't a reason to rerun your samples. However, if I remember correctly, none of your samples showed t

[2017-11-13 19:24] yaaminiv commented on #40
Ah my bad for not being clear. The samples with the worst technical replication had both replicates run on the first column. Here's an NMDS to assess technical replication after I removed those samples for peptide-level data:

![NMDS](https://raw.githubusercontent.com/RobertsLab/project-oyster-oa/master/analyses/DNR_SRM_20170902/2017-10-10-Troubleshooting/2017-11-05-Integrated-Dataset/2017-11-05-N

[2017-11-13 19:31] yaaminiv commented on #40
A related question about interpreting these graphs...

I've looked at [Laura's technical replication](https://plot.ly/%7Elhs3/3.embed) and her replication looks good, but her axes are also more zoomed out than mine. So how do we know that mine has poor quality replication and hers doesn't? I'm just trying to understand how to interpret my plots!

[2017-11-13 19:48] emmats commented on #40
I don't think your technical replication looks that good, even with the narrowed down dataset.

@laurahspencer dataset does look better, but not all of them do (e.g. 55) and for some (e.g. 54) one of the replicates can be eliminated. How come Laura has 3 reps and you just have 2? Was that just a timing thing.

I don't think "zooming" really has anything to do with it.

Here is an example of what y

[2017-11-13 19:51] yaaminiv commented on #40
Gotcha! Can't really speak for Laura's dataset, but thanks for the explanation.

How many samples can I rerun? I'm thinking of rerunning samples that I didn't throw out because of the column, but I can rerun one of those as well just to verify that it was the column...?

[2017-11-13 19:55] emmats commented on #40
I think if we rerun 2 it will give us a good idea of whether or not it is worth rerunning the entire set.

[2017-11-13 19:57] laurahspencer commented on #40
To answer the rep question:  I re-ran some samples at the end of the Mass spec run b/c there was time, and b/c I observed oddities in some of my samples' PRTC peptides.

[2017-11-13 20:07] yaaminiv commented on #40
I'll pick 2 samples that I did not remove/possibly weren't affected by the column change. Can I drop them off with you later today?

[2017-11-13 20:08] emmats commented on #40
I'm around. I have a meeting in the early afternoon so text before you come over to make sure I am here.

[2017-11-13 23:11] #40 closed, assigned to nobody

[2017-11-28 19:22] #22 closed, assigned to yaaminiv

[2017-12-20 18:15] yaaminiv opened #41 "Environmental data analyses"
@sr320 can you take a look at [this lab notebook entry?](https://yaaminiv.github.io/Remaining-Analyses-Part14/)

[2018-01-19 19:19] #41 closed, assigned to nobody